.dashboard{
    background-color: var(--light-gray);
    min-height: 100vh;
    margin: 0px;
    padding: 20px;
    width: calc(100vw - 40px);
}

.dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard__title {
    font-size: 28px;
    font-weight: bold;
}

.dashboard__search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.dashboard__search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #888;
}

.dashboard__search {
    height: 35px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: #333;
}

.dashboard__search::placeholder {
    color: #888;
}

.dashboard__search-box input:focus {
    border-color: #007bff;
    outline: none;
}
