.dashboard{
    background-color: var(--light-gray);
    min-height: 100vh;
    width: calc(100vw - 40px);
    margin: 0px;
    padding: 20px;
    width: calc(100vw - 40px);
}

.dashboard__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.portfolio-group{
    width: 100%;
}

.dashboard__user-portfolio__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.market__title {
    font-size: 22px;
    color: #213547;
    font-weight: bold;
}

.portfolio__title {
    font-size: 18px;
    color: #213547;
    font-weight: bold;
    padding-top: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard__market__container {
    display: flex;
    width: calc(100%  - 40px);
    justify-content: space-between;
}

.market__search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.dashboard__search-icon {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #888;
}

.dashboard__search {
    height: 35px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 140px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color: #333;
}

.dashboard__search::placeholder {
    color: #888;
}

.dashboard__search-box input:focus {
    border-color: #007bff;
    outline: none;
}


.dashboard__item{
    background-color: var(--primary-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 10px;
    margin: 20px;
    border-radius: 10px;
    height: 30px;
}

.dashboard__item__left{
    padding: 0px;
    margin-left: 20px;
    width: calc(100% - 140px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard__item__name{
    font-size: 16px;
    font-weight: bold;
    color: #213547;
    margin: 0px;
}

.dashboard__item__symbol{
    font-size: 12px;
    color: #213547;
    margin: 0px;
}

.dashboard__item__right{
    width: 120px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__item__price{
    font-size: 20px;
    font-weight: bold;
    color: #213547;
    margin: 0px;
}

.dashboard__item__change{
    font-size: 16px;
    margin: 0px;
}

.stock-up{
    color: var(--primary-green);
}

.stock-down{
    color: var(--primary-red);
}