.stock-list{
    background-color: var(--light-gray);
    min-height: 100vh;
    width: calc(100vw - 40px);
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard__market__container {
    display: flex;
    justify-content: space-between;
    width: calc(max(100vw - 40px, 85%));
}

.market__title {
    font-size: 22px;
    color: var(--primary-light-dark);
    font-weight: bold;
}
