.stock-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--light-gray);
}

.stock-details__top{
    background-color: var(--primary-blue);
    color: var(--primary-white);
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 30px;
    font-weight: bold;
}

.stock-details__top__head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.stock-details__back{
    background-color: var(--primary-blue);
    color: var(--primary-white);
    font-size: 30px;
    font-weight: bold;
    left: 0px;
    width: 100px;
}

.stock-details__name{
    width: 150px;
    text-align: center;
    margin-left: calc(50% - 175px);
}

.stock-details__chart {
    background-color: var(--primary-white);
    width: 90%;
    position: relative;
    margin-top: 30px;
    border-radius: 10px;
}

.tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
    transform: translateY(-320px) translateX(-20px);
}

.tooltip.hidden {
    opacity: 0;
}

.stock-details__title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 85%;
}

.stock-details__table{
    background-color: var(--primary-white);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.stock-details__table__row{
    width: calc(100% - 40px); 
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stock-details__table__label{
    font-size: 16px;
    margin-left: 20px;
}

.stock-details__table__value{
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
}

.stock-details__recommendation{
    background-color: var(--primary-white);
    border-radius: 10px;
    width: 90%;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.stock-details__verdict{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.stock-detailss__verdict__left{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stock-detailss__verdict__left__text{
    font-size: 32px;
    font-weight: bold;
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    color: var(--primary-white)
}

.stock-detailss__verdict__right{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stock-detailss__verdict__positive{
    color: var(--primary-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.stock-detailss__verdict__neutral{
    color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.stock-detailss__verdict__negative{
    color: var(--primary-red);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.stock-detailss__verdict__value{
    font-size: 20px;
    font-weight: bold;
}

.stock-detailss__verdict__left__text.buy {
    background-color: var(--primary-green);
}

.stock-detailss__verdict__left__text.hold {
    background-color: var(--primary-blue);
}

.stock-detailss__verdict__left__text.sell {
    background-color: var(--primary-red);
}

.stock-details__analysts__divider{
    width: 90%;
}

.stock-details__analysts-recommendation{
    width: 100%;
}

.stock-details__analysts__row{
    width: calc(100% - 20px); 
    margin-left: 20px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stock-details__analysts__firm{
    font-size: 16px;
    margin-left: 20px;
    width: 60%;
}

.stock-details__analysts__rating{
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    width: 40%;
}

.green-rating {
    color: green;
}

.blue-rating {
    color: blue;
}

.red-rating {
    color: red;
}

.stock-details__eps {
    background-color: var(--primary-white);
    width: 90%;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eps-tooltip {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s;
}

.eps-tooltip.hidden {
    opacity: 0;
}

.stock-details__eps__row{
    width: calc(100% - 40px); 
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stock-details__eps__label{
    font-size: 16px;
    margin-left: 20px;
}

.stock-details__eps__value{
    font-size: 16px;
    margin-right: 20px;
    font-weight: bold;
}