.navbar {
    position: sticky;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 40px);
    height: 30px;
    padding: 20px;
    margin: 0px;
    z-index: 100;
  }
  
  .navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar__icon{
    height: 50px;
  }

  .navbar__company_name{
    font-size: 30px;
    color: var(--primary-blue);
    margin-left: 10px;
  }

  .navbar__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    right: 50px;
  }

  .navbar__search{
    height: 30px;
    margin-right: 20px;
  }

  .navbar__button{
    position: relative;
    width: 100px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
  }